 ##econfig
#config Name: default
/***************************************************(*****************)
This is Config File For Mockba Mod MidiLoop V4.5x+
-- PLEASE EXCUSE ANY TYPOS -- I'm a Developer not a Content Writer ;=)

THIS config file is for FORCE 3.5 and Above. A lot of things have changed and some Macros/functions might not work.
please report any non working shortcuts / functions in discord group so i can inspect them or fix them.
Since Force now natively supports tempo Automation and follow actions on rows, those function might be redundant. but have been kept and removing those is lot more work 
than just ignoring them ;).s

Please read the accompanying midiloop-functions-reference.txt files for all
the available functions, triggers and Macros and what not.
#ad of version 4.04 All macros/command containing a * become repeatable, so the button assigned to REPEAT-LAST Will trigger last Repeatable Command..

***************************************************************************/
#configuration parameters change values as per needs.

CONTROL-MIDI-CHANNEL = 1
TRIGGER-THRESHOLD = 127
USE-ABSOLUTE-TRIGGER = 1


MACRO_DELAY = 10
TOUCH-DELAY = 5 #was 250
POPUP-WAIT-TIME = 50 
PAGING-DELAY = 1


USE-ALT-REL-TEMPO-METHOD = 0 
USE-ALT-ABS-TEMPO-METHOD = 1


ENABLE-DIRECT-DELETE = 0  #if one pressing delete button dseltes selected content in clip. otherwise double delete button press


TEMPO-WINDOW-TIMEOUT=1200
SPECIAL-FUNCTIONS-ON = 1

NUM-PAGES = 4  #for 32x32 matrix => (8*4 x 8*4)


LOG-OUTPUT = 0


DOUBLE-PRESS-TIMEOUT = 300
DOUBLE-PRESS-TRACK-SELECT = 1


SCENE-8TO1=0
USE-TAP-TEMPO-TRIGGERING = 1  # use 1 or 0 , 1=feature enabled
TAP-TEMPO-TRIGGER-COMMAND = LAUNCH-SCENE-1 #this command will be executed after tap tempo press number based on value below set this to value number of taps in Force + 1
TAP-TEMPO-TRIGGER-COUNT = 5  #this value of tap press will trigger the above command
MAX-TAP-DETECT-DELAY-MS = 1000 #time in ms any tap tempo presses within this time period are counted as valid otherwise reset to zero. set to larger value for BPM slower than 60.



BLINK-SELECT-WHILE-CAPTURING = 0  #enable disable select button blink while audio/video capture.
PAGE-DEBOUNCE = 250 # in ms, any page change requests within less than this will be rejected (pad macros send triggers two times so this filters out second one.) 
DEBOUNCE-TIME = 1000 # in ms, any special function  requests like HALF-SPEED, HUMANIZE-CLIP, RANDOMIZE-CLIP... within less than this will be rejected (pad macros send triggers two times so this filters out second one.) 

LOOPBACK-ON = 0 
LOOPBACK-ROUTE-16-TO-CONTROL-CH = 1 #any messages sent to ch 16 will echo back to channel 15 on loopback port.


MIDI-HW-PORT-NAME = Arturia BeatStep Pro #Launch Control XL Launch Contro

#combo multipliers for data dial and +/- buttons
SELECT-KNOB-MULTIPLIER = 50 #Multiplier to use for each jump of data dial with SELECT Held  usually only works for value of 4.
EDIT-KNOB-MULTIPLIER = 10 #Multiplier to use for each jump of data dial with Edit Held usually only works for value of 4.
SHIFT-PLUS-MINUS-MULTIPLIER=10 # Multiplier to use for each press of  + or - button with SHIFT held
SELECT-PLUS-MINUS-MULTIPLIER=50 # Multiplier to use for each press of + or - button with SELECT held
EDIT-PLUS-MINUS-MULTIPLIER=16 # Multiplier to use for each press of + or - button with SELECT held

## IMPORTANT ALWAYS USE some value after = (like -) otherwise the config wont work and midiloop will close.
####################### -- CC MAPPINGS --- ##############################

CC_0 = - #DO NOT USE as might be needed later for Bank MSB
CC_1 = - #modwheel use at your own risk
CC_2 = -
CC_3 = -
CC_4 = -
CC_5 = -
CC_6 = -
CC_7 = - #DO NOT USE use, force will send this value automatically on play and mess up.
CC_8 = MACRO_HALF_CLIP
CC_9 = MACRO_DOUBLE_CLIP_EVENTS
CC_10 = - #DO NOT USE Force sends pan messages automatically on play. 
CC_11 = PAGE-1 LAUNCH-SCENE-1 #macro1;
CC_12 = PAGE-2 LAUNCH-SCENE-1 #macro2;
CC_13 = PAGE-3 LAUNCH-SCENE-1 #macro3;
CC_14 = PAGE-4 LAUNCH-SCENE-1 #macro4;
CC_15 = PAGE-5 LAUNCH-SCENE-1 #macro5;
CC_16 = PAGE-6 LAUNCH-SCENE-1 #macro5;
CC_17 = PAGE-7 LAUNCH-SCENE-1 #macro5;
CC_18 = PAGE-8 LAUNCH-SCENE-1 #macro5;
CC_19 = VALUE--x1
CC_20 = VALUE++x1
CC_21 = LAUNCH-SCENE-1
CC_22 = LAUNCH-SCENE-2
CC_23 = LAUNCH-SCENE-3
CC_24 = LAUNCH-SCENE-4
CC_25 = LAUNCH-SCENE-5
CC_26 = LAUNCH-SCENE-6
CC_27 = LAUNCH-SCENE-7
CC_28 = LAUNCH-SCENE-8
CC_29 = LAUNCH-RAND-ALL
CC_30 = LAUNCH-RAND-1-4
CC_31 = LAUNCH-RAND-5-8
CC_32 = - #DO NOT USE THIS IS BANK LSB, Reserved for Absolute TEMPO Multiplier
CC_33 = TRACKS-PAGE-1
CC_34 = TRACKS-PAGE-2
CC_35 = TRACKS-PAGE-3
CC_36 = TRACKS-PAGE-4
CC_37 = TRACKS-PAGE-5
CC_38 = TRACKS-PAGE-6
CC_39 = TRACKS-PAGE-7
CC_40 = TRACKS-PAGE-8
CC_41 = PAGE-1
CC_42 = PAGE-2
CC_43 = PAGE-3
CC_44 = PAGE-4
CC_45 = PAGE-5
CC_46 = PAGE-6
CC_47 = PAGE-7
CC_48 = PAGE-8
CC_49 = -
CC_50 = SELECT-CLIP-UP
CC_51 = SELECT-CLIP-DOWN
CC_52 = SELECT-CLIP-LEFT
CC_53 = SELECT-CLIP-RIGHT
CC_55 = DELETE-CURRENT-SELECTED-CLIP
CC_56 = SELECT-CLIP-1
CC_57 = 
CC_58 = -
CC_59 = MACRO_SELECT_FIRSTMOST_CLIP
CC_60 = -
CC_61 = -
CC_62 = -
CC_63 = -
CC_64 = - #DO NOT USE - SUSTAIN MESSAGE, FORCE ALWAYS SENDS ON PLAY
CC_65 = -
CC_66 = -
CC_67 = TRIGGER-CLIP-SLOT-UP
CC_68 = TRIGGER-CLIP-SLOT-LEFT
CC_69 = -
CC_70 = PLAY
CC_71 = STOP
CC_72 = RECORD
CC_73 = SELECT-TRACK-PREVIOUS
CC_74 = SELECT-TRACK-NEXT
CC_75 = LAUNCH-SCENE-PREVIOUS
CC_76 = LAUNCH-SCENE-NEXT
CC_77 = TRIGGER-CLIP-SLOT-DOWN
CC_78 = TRIGGER-CLIP-SLOT-RIGHT
CC_79 = STOP-REWIND
CC_80 = DOUBLE-STOP
CC_81 = CONTINUE
CC_82 = RECORD-ARRANGER
CC_83 = TRIGGER-CLIP-SLOT
CC_84 = -
CC_85 = -
CC_86 = -
CC_87 = -
CC_88 = -
CC_89 = PAGE+UP
CC_90 = PAGE+DOWN
CC_91 = PAGE+LEFT
CC_92 = PAGE+RIGHT
CC_93 = ARROW-LEFT
CC_94 = ARROW-RIGHT
CC_95 = ARROW-UP
CC_96 = ARROW-DOWN
CC_97 = TOGGLE-ARP
CC_98 = UNDO
CC_99 = REDO
CC_100 = TOGGLE-TC
CC_101 = TOGGLE-FIXED-LEN-RECORD
CC_102 = TOGGLE-METRONOME
CC_103 = SHOW-EDITOR
CC_104 = MACRO_PREV_PRESET
CC_105 = MACRO_NEXT_PRESET
CC_106 = TEMPO++x1
CC_107 = TEMPO--x1
CC_108 = MENU
CC_109 = SHOW-MIXER
CC_110 = SHOW-EDITOR
CC_111 = SHOW-MATRIX
CC_112 = SHOW-CLIP
CC_113 = SHOW-SAVE
CC_114 = SHOW-LOAD
CC_115 = -
CC_116 = -
CC_117 = -
CC_118 = -
CC_119 = -
CC_120 = - # DO NOT USE THIS CHANNEL MODE MESSAGE
CC_121 = -
CC_122 = -
CC_123 = - # DO NOT USE THIS CHANNEL MODE MESSAGE
CC_124 = -
CC_125 = -
CC_126 = -
CC_127 = -

################## MIDI NOTE MAPPINGS ########################################
# Note Mappings from older version is kept as is below for compatibility.

NOTE_0 = -
NOTE_1 = -
NOTE_2 = -
NOTE_3 = -
NOTE_4 = -
NOTE_5 = -
NOTE_6 = -
NOTE_7 = -
NOTE_8 = -
NOTE_9 = -
NOTE_10 = -
NOTE_11 = -
NOTE_12 = -
NOTE_13 = -
NOTE_14 = -
NOTE_15 = -
NOTE_16 = -
NOTE_17 = -
NOTE_18 = -
NOTE_19 = -
NOTE_20 = -
NOTE_21 = -
NOTE_22 = -
NOTE_23 = -
NOTE_24 = -
NOTE_25 = -
NOTE_26 = -
NOTE_27 = -
NOTE_28 = -
NOTE_29 = -
NOTE_30 = -
NOTE_31 = -
NOTE_32 = -
NOTE_33 = -
NOTE_34 = -
NOTE_35 = -
NOTE_36 = -
NOTE_37 = -
NOTE_38 = -
NOTE_39 = -
NOTE_40 = SELECT-TRACK-PREVIOUS
NOTE_41 = SELECT-TRACK-NEXT
NOTE_42 = -
NOTE_43 = -
NOTE_44 = TAP-TEMPO
NOTE_45 = -
NOTE_46 = -
NOTE_47 = -
NOTE_48 = LAUNCH-SCENE-NEXT
NOTE_49 = 
NOTE_50 = 
NOTE_51 = -
NOTE_52 = -
NOTE_53 = -
NOTE_54 = -
NOTE_55 = -
NOTE_56 = LAUNCH-SCENE-1 # G#2
NOTE_57 = LAUNCH-SCENE-2 # A2
NOTE_58 = LAUNCH-SCENE-3 # Bb2
NOTE_59 = LAUNCH-SCENE-4 # B2
NOTE_60 = LAUNCH-SCENE-5 # C3
NOTE_61 = LAUNCH-SCENE-6 # C#3
NOTE_62 = LAUNCH-SCENE-7 # D3
NOTE_63 = LAUNCH-SCENE-8  # Eb3
NOTE_64 = -
NOTE_65 = -
NOTE_66 = -
NOTE_67 = -
NOTE_68 = -
NOTE_69 = -
NOTE_70 = -
NOTE_71 = -
NOTE_72 = -
NOTE_73 = -
NOTE_74 = -
NOTE_75 = -
NOTE_76 = -
NOTE_77 = -
NOTE_78 = -
NOTE_79 = -
NOTE_80 = -
NOTE_81 = -
NOTE_82 = -
NOTE_83 = -
NOTE_84 = -
NOTE_85 = -
NOTE_86 = -
NOTE_87 = -
NOTE_88 = -
NOTE_89 = -
NOTE_90 = -
NOTE_91 = -
NOTE_92 = -
NOTE_93 = -
NOTE_94 = -
NOTE_95 = STOP-ALL-CLIPS
NOTE_96 = REC-ARM-TRACKx1
NOTE_97 = REC-ARM-TRACKx2
NOTE_98 = REC-ARM-TRACKx3
NOTE_99 = REC-ARM-TRACKx4
NOTE_100 = REC-ARM-TRACKx5
NOTE_101 = REC-ARM-TRACKx6
NOTE_102 = REC-ARM-TRACKx7
NOTE_103 = REC-ARM-TRACKx8
NOTE_104 = -
NOTE_105 = -
NOTE_106 = -
NOTE_107 = MENU-SOUNDS
NOTE_108 = MACRO_PREF_MIDI_MONITOR
NOTE_109 = QUICK-SAVE
NOTE_110 = BROWSE
NOTE_111 = -
NOTE_112 = ARROW-UP
NOTE_113 = ARROW-DOWN 
NOTE_114 = -
NOTE_115 = -
NOTE_116 = -
NOTE_117 = - 
NOTE_118 = NOTE-CONFIG
NOTE_119 = LAUNCH-CONFIG
NOTE_120 = RECORD-CONFIG
NOTE_121 = ABLETON-MODE
NOTE_122 = TEMPO--x10
NOTE_123 = TEMPO++x10
NOTE_124 = TEMPO--x5
NOTE_125 = TEMPO++x5
NOTE_126 = TEMPO--x1
NOTE_127 = TEMPO++x1



#******  SPECIAL FUNCTION MAPPINGS ***************************
#you can set function to NONE or just delete/comment (put # in front) the line to not use the Shortcut.

DOUBLE-EDIT= SHOW-EDITOR
DOUBLE-SELECT= MACRO_MIDI_SELECT_ALL
DOUBLE-ARM = RECORD-ARRANGER
DOUBLE-SOLO= NOTE-CONFIG
DOUBLE-MUTE = MENU-LOOPER 
DOUBLE-ASSIGN-A=MENU-SAMPLE-EDIT
DOUBLE-ASSIGN-B= MENU-SAMPLER 
DOUBLE-COPY= MAIN
DOUBLE-CLIP-STOP= MENU-TRACK-VIEW


#---SHIFT Button Combination 

SHIFT+UP       = PAGE+UP
SHIFT+DOWN  = PAGE+DOWN
SHIFT+LEFT     =  PAGE+LEFT
SHIFT+RIGHT   = PAGE+RIGHT

SHIFT+SCENE-1 = SCRIPT-14 #DX7
SHIFT+SCENE-2 = SCRIPT-15 #JV880
SHIFT+SCENE-3 = SCRIPT-16 #Maze Voice
SHIFT+SCENE-4 = SCRIPT-17 #Maze Sequencer
SHIFT+SCENE-5 = SCRIPT-18 #Acid Sequencer
SHIFT+SCENE-6 = SCRIPT-5 #Euclidier
SHIFT+SCENE-7 = SCRIPT-4 #Riffmaker
SHIFT+SCENE-8 = SCRIPT-2  #toggle vncserver
SHIFT+CLIP-STOP = PRINT:(UNUSED)
SHIFT+STOP-ALL = STOP-ALL-CLIPS

# PLEASE AVOID CHANGING THESE SHIFT+EDIT COMMANDS 
SHIFT+EDIT+UP    = SCRIPT-9 #restart force software
SHIFT+EDIT+DOWN  = REBOOT 
SHIFT+EDIT+LEFT  = RELOAD-CONFIG  
SHIFT+EDIT+RIGHT = SCRIPT-13 #shutdown 




#---- EDIT Button Combination s

EDIT+UP         = MENU-SONG 
EDIT+DOWN      =  MENU-STEP-SEQUENCER 
EDIT+LEFT       = MENU-ARRANGE
EDIT+RIGHT      = MENU-MIDI-LEARN



EDIT+QUANTIZE         = MENU-SAMPLER
EDIT+LENGTH           = LOOPER
EDIT+DOUBLE           = MENU-SAMPLE-EDIT
EDIT+CLEAR+AUTOMATION = MENU-TRACK-EDIT

EDIT+METRONOME        = MENU-LIST-EDIT
EDIT+TC               = MENU-PAD-COLOR
EDIT+OCT-             = MPC-LOCATE
EDIT+OCT+             = -
EDIT+CLIP-STOP = MENU-PROJECT # sample pool
EDIT+MUTE= RELOAD-CONFIG
EDIT+SOLO= MENU-SAMPLE-EDIT
EDIT+REC-ARM = RECORD-CONFIG


#------------ Some of These ShortCuts Use Touch Gestures -------

KNOBS+UP        = MACRO_SHOW_TUNER
KNOBS+DOWN      = MACRO_SHOW_AUTOSAMPLER
KNOBS+LEFT      = MENU-Q-LINK-EDIT 
KNOBS+RIGHT    = MENU-MIDI-LEARN 

KNOBS+QUANTIZE         = -
KNOBS+LENGTH           = -
KNOBS+DOUBLE           = -
KNOBS+CLEAR+AUTOMATION = -
KNOBS+METRONOME        = -
KNOBS+TC               = SCREENSHOT
KNOBS+OCT-             = VIDEO-CAPTURE
KNOBS+OCT+             = -


KNOBS+SCENE-1= -
KNOBS+SCENE-2 = -
KNOBS+SCENE-3 = -
KNOBS+SCENE-4 = -
KNOBS+SCENE-5 = -
KNOBS+SCENE-6 = -
KNOBS+SCENE-7 = -
KNOBS+SCENE-8 = -


KNOBS+PLAY           = MACRO_PREF_MIDISYNC
KNOBS+STOP           = MACRO_PREF_MEMORY
KNOBS+RECORD        = MENU-PROJECT
KNOBS+UNDO          =  MACRO_PREF_UNDO_HISTORY
KNOBS+LOAD           = MACRO_PREF_MIDI_MONITOR
KNOBS+SAVE           = -
KNOBS+MATRIX         = MIXER--  #mixer paging
KNOBS+CLIP           =   MIXER++ #mixer paging
KNOBS+NAVIGATE       = MENU-STEP-SEQUENCER

#-- LAUNCH button Combos
#qlink knobs
LAUNCH+MACRO-1 = MACRO_SAMPLE_NORMALIZE

LAUNCH+MACRO-2 = MACRO_SAMPLE_GAIN-3
LAUNCH+MACRO-3 = MACRO_SAMPLE_GAIN+3

LAUNCH+MACRO-5 = MACRO_SAMPLE_DELETESEL

LAUNCH+MACRO-6 = MACRO_SAMPLE_DISCARD

LAUNCH+MACRO-7 = MACRO_SAMPLE_EXTRACT



LAUNCH+UP       = MENU-NEXT-SEQUENCE
LAUNCH+DOWN     = MENU-SONG
LAUNCH+LEFT     = MENU-TRACK-VIEW
LAUNCH+RIGHT    = MENU-LOOPER

LAUNCH+QUANTIZE         = SHOW-EDITOR 
LAUNCH+LENGTH           = -
LAUNCH+DOUBLE           = -
LAUNCH+CLEAR+AUTOMATION = -
LAUNCH+METRONOME        = -
LAUNCH+TC               = -
LAUNCH+OCT-             =  MACRO_MIDI_COPY_SELECTED
LAUNCH+OCT+             =  MACRO_MIDI_PASTE

LAUNCH+SCENE-1 = -
LAUNCH+SCENE-2 = -
LAUNCH+SCENE-3 = -
LAUNCH+SCENE-4 = -
LAUNCH+SCENE-5 = -
LAUNCH+SCENE-6 = -
LAUNCH+SCENE-7 = -
LAUNCH+SCENE-8 = -
LAUNCH+PLAY          = MACRO_SAMPLE_NORMALIZE
LAUNCH+STOP          = MACRO_SAMPLE_GAIN-3

LAUNCH+RECORD        = MACRO_SAMPLE_GAIN+3

LAUNCH+UNDO          = 
LAUNCH+LOAD          = -
LAUNCH+SAVE          = -
LAUNCH+MATRIX        = MACRO_KIT_POLYPHONIC
LAUNCH+CLIP             =    MACRO_KIT_MONOPHONIC
LAUNCH+NAVIGATE      = -

#---- mixer combo shortcuts
MIXER+UP       = MIXER-PAN-VOLUME
MIXER+DOWN    = MIXER-EFFECTS
MIXER+LEFT     = MIXER-IO
MIXER+RIGHT    = MIXER-SENDS

MIXER+QUANTIZE         = -
MIXER+LENGTH           = -
MIXER+DOUBLE           = -
MIXER+CLEAR+AUTOMATION = -
MIXER+METRONOME        = -
MIXER+TC               = -
MIXER+OCT-             = -
MIXER+OCT+             = -


MIXER+SCENE-1 = MACRO_RANDOMIZE_CLIP_DIALOG
MIXER+SCENE-2 = MACRO_HUMANIZE_CLIP_DIALOG
MIXER+SCENE-3 = - #DIALOG-MERGE-PADS
MIXER+SCENE-4 = - #DIALOG-COPY-PADS
MIXER+SCENE-5 = - #DIALOG-SPLIT-EVENTS # may have side effect of flatten clip on audio track.
MIXER+SCENE-6 = - #DIALOG-CLEAR-EVENTS
MIXER+SCENE-7 = - #CLIP-CLEAR-EVENTS
MIXER+SCENE-8 = - #CLIP-SPLIT-EVENTS #has a side effect for audio clips; will flatten clip. be careful.

MIXER+PLAY           = MACRO_HUMANIZE_CLIP 
MIXER+STOP           = MACRO_RANDOMIZE_CLIP
MIXER+RECORD         = MACRO_HALF_CLIP
MIXER+UNDO           = MACRO_HUMANIZE_CLIP_DIALOG
MIXER+LOAD           = MACRO_RANDOMIZE_CLIP_DIALOG
MIXER+SAVE           = DOUBLE-CLIP-LEN
MIXER+MATRIX         = MACRO_HALF_SPEED
MIXER+CLIP           = MACRO_DOUBLE_SPEED
MIXER+NAVIGATE       = SHOW0-MIXER MASTER-MIXER

#---- SELECT BUTTON Combos


SELECT+UP       = -
SELECT+DOWN     = -
SELECT+LEFT     = -
SELECT+RIGHT    = -

SELECT+QUANTIZE         = MACRO_LOOPER_RECORD
SELECT+LENGTH           =  MACRO_LOOPER_OVERDUB
SELECT+DOUBLE           = MACRO_LOOPER_PLAY
SELECT+CLEAR+AUTOMATION = MACRO_LOOPER_CLEAR
SELECT+METRONOME        = -
SELECT+TC               = 
SELECT+OCT-             = MACRO_SHOW_AUTOSAMPLER
SELECT+OCT+             = MACRO_SAMPLER_RECORD




SELECT+PLAY          = -
SELECT+STOP          = -
SELECT+RECORD        = -
SELECT+UNDO          = -
SELECT+LOAD          = -
SELECT+SAVE          = -
SELECT+MATRIX        = -
SELECT+CLIP          = -
SELECT+NAVIGATE      = -

SELECT+SCENE-1 = MACRO_SYNC_OFF
SELECT+SCENE-2 = MACRO_SYNC_CLOCK
SELECT+SCENE-3 = MACRO_SYNC_MTC
SELECT+SCENE-4 = MACRO_SYNC_ABLETON_LINK
SELECT+SCENE-5 = -
SELECT+SCENE-6 = -
SELECT+SCENE-7 = -
SELECT+SCENE-8 = -


NOTE+UP       = PAD-MIXER-PAN-VOLUME
NOTE+DOWN     = PAD-MIXER-EFFECTS
NOTE+LEFT     = PAD-MIXER-IO
NOTE+RIGHT    = PAD-MIXER-SENDS

NOTE+QUANTIZE         = NOTE-CONFIG
NOTE+LENGTH           = RECORD-CONFIG
NOTE+DOUBLE           = LAUNCH-CONFIG
NOTE+CLEAR+AUTOMATION = -
NOTE+METRONOME        = MACRO_CLIP_RETAKE
NOTE+TC               = MACRO_AUDIO_CLIP_FADES
NOTE+OCT-             =  MACRO_MIDI_OCT- # shifts aa notes in clip one octave down
   
NOTE+OCT+             = MACRO_MIDI_OCT+ #shifts all notes in clip one octave up


NOTE+PLAY            = -
NOTE+STOP            = -
NOTE+RECORD          = MACRO_TOGGLE_AUTOMATION_RW
NOTE+UNDO            =  MACRO_SHOW_TC_WINDOW
NOTE+LOAD            =  MACRO_CLIP_LIST_VIEW
NOTE+SAVE            =  MACRO_ARRANGE_BACKTOARRANGE
NOTE+MATRIX          = MACRO_CLIP_GRID_VIEW
NOTE+CLIP            =  MACRO_CLIP_CLIP_VIEW
NOTE+NAVIGATE        = MACRO_CLIP_ARRANGE_VIEW


NOTE+SCENE-1 = SET-TEMPOx120 #sets tempo to 120 change number to as you want
NOTE+SCENE-2 = SET-TEMPOx125
NOTE+SCENE-3 = SET-TEMPOx128
NOTE+SCENE-4 = SET-TEMPOx135

NOTE+SCENE-5 = SET-TEMPOx140

NOTE+SCENE-6 = SET-TEMPOx170-
NOTE+SCENE-7 = SET-TEMPOx80

NOTE+SCENE-8 = SET-TEMPOx96



############## REMAPPABLE HARDWARE BUTTONS #################

HW-NAVIGATE         = NAVIGATE
HW-ASSIGN-A         = ASSIGN-A 
HW-ASSIGN-B         =  ASSIGN-B 
HW-MINUS            = MINUS
HW-PLUS             =  PLUS
HW-UP               =    ARROW-UP
HW-DOWN             = ARROW-DOWN
HW-LEFT             = ARROW-LEFT
HW-RIGHT            = ARROW-RIGHT

#NEW IN V4.01
HW-STOP-ALL         = STOP-ALL-CLIPS

#NEW in v 4.03
#COMMANDS MIXER++, MIXER--, XY-PAD, ABLETON-MODE, MASTER-MIXER (MIXER++ and MIXER-- Move a page at a time), PREFERENCES

#TRIGGERS
HW-SHIFT+NAVIGATE    = XY-PAD
HW-SHIFT+MATRIX      = ABLETON-MODE


##********************* NAMED MACROS ****************************
# you can create Macros by giving them a unique name starting with MACRO_XXXX where XXXX is name of your Macro and then you can assign theese nameed macros to any triggers.
# this has benn done to avoid polluting assignments earlier as well as reusibility.

##NOTE MACROS and their touch points need to be redone as gui and control placements have changed in FW 3.5+

#--------------SAMPLE EDITOR MACROS ------------


#based on default layout  where sample editor icon/button is page:1 row 2 col:4 #these have been tested and tweaked to wirk with 3.5
 

MACRO_SAMPLE_NORMALIZE = MENU-SAMPLE-EDIT WAITX10 TOUCH~NONE~PROCESS~1200x700 WAITx1 TOUCH~NONE~FUNCTIONS~250x700 WAITx5 TOUCH~NONE~NORMALIZE~60x300 WAITx10  TOUCH~NONE~DOIT~1000x700 #Normalize Sample


MACRO_SAMPLE_GAIN-3 = MENU-SAMPLE-EDIT WAITX10 TOUCH~NONE~PROCESS~1200x700 WAITx1  TOUCH~NONE~FUNCTIONS~250x700 WAITx5 TOUCH~NONE~GAINCHANGE~800x400 WAITx5 TOUCH~NONE~GAINKNOB~640x400   WAITx10 VALUE--x50 WAITx1 VALUE++x15 WAITx5 TOUCH~NONE~DOIT~1000x700 #reduce sample gain by -3 dB


MACRO_SAMPLE_GAIN+3 = MENU-SAMPLE-EDIT WAITX10  TOUCH~NONE~PROCESS~1200x700 WAITx1  TOUCH~NONE~FUNCTIONS~250x700 WAITx5 TOUCH~NONE~GAINCHANGE~800x400 WAITx5 TOUCH~NONE~GAINKNOB~640x400   WAITx10 VALUE--x50 WAITx1 VALUE++x21 WAITx5 TOUCH~NONE~DOIT~1000x700 #increase sample gain by +3 dB

MACRO_SAMPLE_DISCARD =  MENU-SAMPLE-EDIT WAITX10   TOUCH~NONE~PROCESS~1200x700 WAITx1  TOUCH~NONE~FUNCTIONS~250x700 WAITx5 TOUCH~NONE~DISCARD~60x220 WAITx1 TOUCH~NONE~DOIT~1000x700 #discard (trim to selected)

MACRO_SAMPLE_DELETESEL =  MENU-SAMPLE-EDIT WAITX10  TOUCH~NONE~PROCESS~1200x700 WAITx1  TOUCH~NONE~FUNCTIONS~250x700 WAITx5 TOUCH~NONE~DISCARD~480x220 WAITx1 TOUCH~NONE~DOIT~1000x700 #delete selected

MACRO_SAMPLE_EXTRACT =  MENU-SAMPLE-EDIT WAITX10   TOUCH~NONE~PROCESS~1200x700 WAITx1  TOUCH~NONE~FUNCTIONS~250x700 WAITx5 TOUCH~NONE~DISCARD~1120x220 WAITx1 TOUCH~NONE~DOIT~1000x700 #extract to new sample


#-------------- MIDI CLIP MACROS

MACRO_MIDI_COPY_SELECTED = TOUCH~SHOW-CLIP~grid~120x50 WAITx5  TOUCH~SHIFT~copy~600x700 #copy events
MACRO_MIDI_PASTE          = TOUCH~SHOW-CLIP~grid~120x50 WAITx5 TOUCH~SHIFT~paste~660x700 #paste events
MACRO_MIDI_SELECT_ALL = TOUCH~SHOW-CLIP~grid~120x50 WAITx1 TOUCH~AT~MARQUEE~620x50 TOUCH~AT~CLIP~320x250 WAITx1 TOUCH~SHIFT~SELECT-ALL~30x700

MACRO_MIDI_OCT- = TOUCH~SHOW-CLIP~grid~120x50 WAITx1 TOUCH~AT~MARQUEE~620x50 TOUCH~AT~CLIP~320x250 WAITx1 TOUCH~SHIFT~SELECT-ALL~30x700 WAITx1 TOUCH~AT~TRANSPOSE~1020x700 WAITx5 VALUE--x12 

MACRO_MIDI_OCT+ = TOUCH~SHOW-CLIP~grid~120x50 WAITx1 TOUCH~AT~MARQUEE~620x50 TOUCH~AT~CLIP~320x250 WAITx1 TOUCH~SHIFT~SELECT-ALL~30x700 WAITx1 TOUCH~AT~TRANSPOSE~1020x700 WAITx5 VALUE++x12

#-------------- MIDI CLIP EDIT COMMANDS #not tested with 3.5 fully. might need changes

MACRO_HUMANIZE_CLIP_DIALOG=TOUCH~SHOW-CLIP~grid~120x50 WAITx1 TOUCH~AT~EDIT~1160x50 WAITx1  TOUCH~AT~HUMANiZE~640x335

MACRO_HUMANIZE_CLIP=TOUCH~SHOW-CLIP~grid~120x50 WAITx1 TOUCH~AT~EDIT~1160x50 WAITx1  TOUCH~AT~HUMANiZE~640x335 TOUCH~AT~DOIT~980x690 

MACRO_RANDOMIZE_CLIP_DIALOG=TOUCH~SHOW-CLIP~grid~120x50 WAITx1 TOUCH~AT~EDIT~1160x50 WAITx1 TOUCH~AT~RANDOMIZE~790x335

MACRO_RANDOMIZE_CLIP=TOUCH~SHOW-CLIP~grid~120x50 WAITx1 TOUCH~AT~EDIT~1160x50 WAITx1 TOUCH~AT~RANDOMIZE~790x335 TOUCH~AT~DOIT~980x690 

MACRO_HALF_SPEED = TOUCH~SHOW-CLIP~grid~120x50 WAITx1 TOUCH~AT~EDIT~1160x50 WAITx1 TOUCH~AT~HALFSPEED~875x180

MACRO_DOUBLE_SPEED = TOUCH~SHOW-CLIP~grid~120x50 WAITx1 TOUCH~AT~EDIT~1160x50 WAITx1 TOUCH~AT~DBLSPEED~1030x180

MACRO_HALF_CLIP=TOUCH~SHOW-CLIP~grid~120x50 WAITx1 TOUCH~AT~EDIT~1160x50 WAITx1 TOUCH~AT~HALFCLIP~406x180

MACRO_DOUBLE_CLIP_EVENTS=TOUCH~SHOW-CLIP~grid~120x50 WAITx1 TOUCH~AT~EDIT~1160x50 WAITx1 TOUCH~AT~DBLCLIPEV~718x180

MACRO_CLIP_CLEAR=TOUCH~SHOW-CLIP~grid~120x50 WAITx1 TOUCH~AT~EDIT~1160x50 WAITx1 TOUCH~AT~CLEAR~247x180




# ------------------ GUI MACROS -(Mainly Touch Based) #not tested with 3/5 might need changes tweaking
MACRO_PREV_PRESET = TOUCH~SHOW-EDITOR~FOCUS-PRESET~775x20 VALUE--x1 #previos preset in plugin editor
MACRO_NEXT_PRESET = TOUCH~SHOW-EDITOR~FOCUS-PRESET~775x20 VALx1 #next preset in plugin editor

MACRO_SELECT_FIRSTMOST_CLIP = TRACKS-PAGE-1 WAITx100 PAGE-1 WAITx10 SELECT-CLIP-1

MACRO_SHOW_TUNER = TOUCH~MENU~TUNER~910x56

MACRO_CLIP_RETAKE = STOP UNDO RECORD WAITx50 SHOW-CLIP * #ReTake Clip Record (uses undo)

MACRO_AUDIO_CLIP_FADES = TOUCH~SHOW-CLIP~grid~90x50 WAITx1 TOUCH~AT~ARROW~460x50 TOUCH~AT~CLIP~320x300  TOUCH~AT~FADEOUT~200x620  WAITx2 VALUE--x100 WAITx100 VALUE++x11  WAITx5 TOUCH~AT~FADEIN~60x620 WAITx1 VALUE--x200  WAITx1 VALUE++x11 *     #add-fades


MACRO_SHOW_TC_WINDOW = TOUCH~SHOW-CLIP~CLIP~220x50 WAITx1 TOUCH~NONE~TC~60x700 #TC WINDOW
MACRO_CLIP_LIST_VIEW =TOUCH~SHOW-CLIP~CLIP~280x50 #LIST VIEW
MACRO_CLIP_GRID_VIEW = TOUCH~SHOW-CLIP~grid~120x50 #Grid VIEW 
MACRO_CLIP_CLIP_VIEW = TOUCH~SHOW-CLIP~CLIP~180x50 #CLIP VIEW
MACRO_CLIP_ARRANGE_VIEW = TOUCH~SHOW-CLIP~CLIP~60x50 #Arrange VIEW Alt


MACRO_TOGGLE_AUTOMATION_RW = TOUCH~SHOW-CLIP~CLIP~60x50 WAITx1 TOUCH~NONE~AUTO~400x50 #TOGGLEAUTOMATION READ/WRITE

#Arranger Related Macros
MACRO_RECORD-ARRANGER_CURRENTPOS = RECORD-ARRANGER CONTINUE
MACRO_RECORD-ARRANGER_FROMSTART = RECORD-ARRANGER PLAY

MACRO_ARRANGE_BACKTOARRANGE=TOUCH~SHOW-CLIP~CLIP~60x50 WAITx1 TOUCH~NONE~BACKTO~1200x700  #BACK TO ARRANGE

#-----------preferences related macros
MACRO_PREF_MIDISYNC  = PREFERENCES WAITx100 TOUCH~NONE~MIDI-SYNC~64x480 #midi sync of project defaults
MACRO_FIRST_PREF_MENU = SHOW-MATRIX WAITx1 TOUCH~MENU~LEFTARR~280x100 WAITx10 TOUCH~AT~MENU-1~90x120
MACRO_LAST_SLIDE_MENU = SHOW-MATRIX WAITx1 TOUCH~MENU~LEFTARR~280x100 WAITx10 TOUCH~AT~MENU-1~90x640
MACRO_PREF_MEMORY=SHOW-MATRIX WAITx1 TOUCH~MENU~RESOURCES~1180x50 #RESOURCES/MEMORY
MACRO_PREF_UNDO_HISTORY=SHOW-MATRIX WAITx1 TOUCH~MENU~HISTORY~830x50 #UNDO-HISTORY
MACRO_PREF_MIDI_MONITOR = SHOW-MATRIX WAITx1 TOUCH~MENU~MONITOR~980x0


MACRO_SYNC_OFF = SHOW-MATRIX WAITx2 TOUCH~MENU~SYNC~600x70 WAITx5 VALUE--x10

MACRO_SYNC_CLOCK = SHOW-MATRIX WAITx2 TOUCH~MENU~SYNC~600x70 WAITx5 VALUE--x10 WAITx5 VALUE++
MACRO_SYNC_MTC = SHOW-MATRIX WAITx2 TOUCH~MENU~SYNC~600x70 WAITx5 VALUE--x10 WAITx5 VALUE++x2
MACRO_SYNC_ABLETON_LINK = SHOW-MATRIX WAITx2 TOUCH~MENU~SYNC~600x70 WAITx5 VALUE--x10 WAITx5 VALUE++x3


#-----------Kit/Keygroups 
#with 3.5 the comands dont work for keygroups, so these have been set for kits only for time being.
MACRO_KIT_MONOPHONIC = TOUCH~SHOW-EDITOR~GLOBAL~64x700 WAITx10 TOUCH~NONE~POLY~100x620 WAITx10 VALUE--x32 WAITx1 VALUE--x32 WAITx2 VALUE++x1 #SET Kit Monophonic
MACRO_KIT_POLYPHONIC = TOUCH~SHOW-EDITOR~GLOBAL~64x700 WAITx10 TOUCH~NONE~POLY~96x650 VALUE--x32 WAITx1 VALUE--x32  #SET Kit/ Polyphonic ;

#------------LOOPER CONTROL MACROS # 
#these work with default menu layout where Looper button ipage 1 3rd row column 2 - not all have been tested with 3.5

MACRO_LOOPER_PLAY =  TOUCH~LOOPER~PLAY~990x690
MACRO_LOOPER_RECORD =TOUCH~LOOPER~RECORD~1180x600
MACRO_LOOPER_CLEAR = TOUCH~LOOPER~CLEAR~350x690
MACRO_LOOPER_REVERSE =TOUCH~LOOPER~REVERSE~525x690

MACRO_LOOPER_REPLACE =TOUCH~LOOPER~REPLACE~690x690

MACRO_LOOPER_OVERDUB=TOUCH~LOOPER~OVERDUB~1180x690

MACRO_LOOPER_BARS =TOUCH~LOOPER~BARS~551x64 
MACRO_LOOPER_INPUT =TOUCH~LOOPER~INPUT~251x64 
MACRO_LOOPER_SYNC = TOUCH~LOOPER~SYNC~1180x64 
MACRO_LOOPER_REC_PLAY = TOUCH~LOOPER~RECORD-PLAY~855x64
MACRO_LOOPER_REC_OVERDUB = TOUCH~LOOPER~RECORD-OVERDUB~975x64

#---------SAMPLER MACROS #
#these work with default menu layout where sampler button/icon  is page:1 row:2 column:5, if you change layout, you need to change slots accordigly.
MACRO_SHOW_AUTOSAMPLER =TOUCH~SAMPLER~AUTOSAMPLER~1110x440
MACRO_SAMPLER_RECORD =TOUCH~SAMPLER~ARM~850x400 #record/record arm
MACRO_SAMPLER_LENGTH =TOUCH~SAMPLER~LENGTH~850x575 #'select the length box' you can send VALUE++x1 and VALUE--x1 or you can directly create macro adding VALUE++x10 VALUE--x10 to your triggers, such as foot controller. so change the value by 10 clicks
MACRO_SAMPLER_INPUT = TOUCH~SAMPLER~INPUT~551x64 


